extends ../layout

block link
    link(rel='stylesheet', href='/stylesheets/profile.css')

block content
    
    include ../partials/navigation
    
    main
        section
            h6 Nom d'utilisateur 
            p #{user.username}

            form(method=POST)
                div 
                    label(for="usernameInput") Nouveau nom
                    input(type="text")
                div 
                    button(type=submit value=submit) Modifier

        section
            h6 Mot de Passe
            p #{user.password}
            
            form(method=POST)
                div 
                    label(for="passwordInput") Nouveau mot de passe
                    input(type="password")
                div 
                    label(for="passwordCInput") Confirmation du mot de passe
                    input(type="password")
                div 
                    button(type=submit value=submit) Modifier

        section
            h6 E-mail
            p #{user.mail}
            
            form(method=POST)
                div 
                    label(for="mailInput") Nouveau mail
                    input(type="text")
                div 
                    button(type=submit value=submit) Modifier

        section
            h6 Numéro de contact
            p #{user.number}
            
            form(method=POST)
                div 
                    label(for="numberInput") Nouveau numéro
                    input(type="tel" pattern="[0-9]{2}-[0-9]{2}-[0-9]{2}-[0-9]{2}-[0-9]{2}")
                div 
                    button(type=submit value=submit) Modifier

        section
            h6 Adresse
            p #{user.adress}
            
            form(method=POST)
                div 
                    label(for="adressInput") Nouvelle adresse
                    input(type="text")
                div 
                    button(type=submit value=submit) Modifier

        section
            h6 Complement d'adresse
            p #{user.adressSup}
            
            form(method=POST)
                div 
                    label(for="adressSupInput") Nouvelle adresse
                    input(type="text")
                div 
                    button(type=submit value=submit) Modifier

        section
            h6 Code postal
            p #{user.codePostal}
            
            form(method=POST)
                div 
                    label(for="codePostalInput") Nouveau code postal
                    select(id="inputState" class="form-select")
                        option(value="83000") 83 000 
                        option(value="83100") 83 100 
                        option(value="83110") 83 110 
                        option(value="83130") 83 130 
                        option(value="83140") 83 140
                        option(value="83150") 83 150 
                        option(value="83160") 83 160 
                        option(value="83190") 83 190 
                        option(value="83200") 83 200
                        option(value="83210") 83 210 
                        option(value="83220") 83 220
                        option(value="83230") 83 230 
                        option(value="83250") 83 250
                        option(value="83260") 83 260 
                        option(value="83270") 83 270
                        option(value="83320") 83 320
                        option(value="83330") 83 330
                        option(value="83390") 83 390
                        option(value="83400") 83 400 
                        option(value="83430") 83 430 
                        option(value="83500") 83 500
                        option(value="83610") 83 610
                        option(value="83740") 83 740
                        option(value="83870") 83 870 
                        option(value="83980") 83 980 
                div 
                    button(type=submit value=submit) Modifier

        section
            h6 Ville
            p #{user.city}
            
            form(method=POST)
                div 
                    label(for="cityInput") Nouvelle ville
                    input(type="text")
                div 
                    button(type=submit value=submit) Modifier


        div
            button(type="button") 
                a(href="profile") Retour

    include ../partials/footer